/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f4b400;
}

.nav-toggle {
    display: none;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #555;
    color: #fff;
}

.intro h1 {
    font-size: 36px;
}

.intro p {
    font-size: 18px;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.featured-project img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* About Section */
.about, .projects, .blog, .contact {
    padding: 50px 20px;
}

.about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about h2, .projects h1, .blog h1 {
    margin-top: 20px;
}

/* Project and Blog Styles */
.project, .blog-post {
    margin-bottom: 40px;
}

.project img, .blog-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.project video {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Contact Section */
.contact {
    text-align: center;
    margin: 50px 0;
}

.contact form {
    max-width: 600px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-links {
    margin-top: 30px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 20px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
